[Desktop Entry]
Encoding=UTF-8
Name=Haxima日本語版
GenericName=Role Playing Game
Comment=昔懐かしいロールプレイングゲーム
Exec=haxima
Icon=haxima.png
Terminal=false
Type=Application
Categories=Application;Game;
Version=1.002
